In [1]:
import pandas as pd
from sqlalchemy import create_engine
from config import password
import pymysql
pymysql.install_as_MySQLdb()

In [2]:
file = 'player_data.csv'
file1 = 'team_data.csv'
df = pd.read_csv(file)
df1 = pd.read_csv(file1)
df.head()

,full_name,age,league,season,position,Current Club,minutes_played_overall,minutes_played_home,minutes_played_away,nationality,...,conceded_per_90_overall,min_per_conceded_overall,min_per_match,min_per_card_overall,min_per_assist_overall,cards_per_90_overall,rank_in_league_top_attackers,rank_in_league_top_midfielders,rank_in_league_top_defenders,rank_in_club_top_scorer
0,Michael Bradley,31,FIFA World Cup 2014 Brazil,2014,Midfielder,USMNT,360,180,180,USA,...,0.75,120,90,0,360,0.00,90,34,-1,7
1,Andrea Pirlo,39,FIFA World Cup 2014 Brazil,2014,Midfielder,Italy,270,180,90,Italy,...,1.00,90,90,0,0,0.00,-1,-1,-1,12
2,David Villa,36,FIFA World Cup 2014 Brazil,2014,Forward,Spain,56,0,56,Spain,...,0.00,0,56,0,0,0.00,-1,-1,-1,2
3,Kyle Beckerman,36,FIFA World Cup 2014 Brazil,2014,Midfielder,USMNT,270,180,90,USA,...,1.00,90,90,270,0,0.33,-1,-1,-1,8
4,Víctor Salvador Bernárdez Blanco,36,FIFA World Cup 2014 Brazil,2014,Defender,Honduras,226,180,46,Honduras,...,2.39,38,75,226,0,0.40,-1,-1,-1,5

In [3]:
df.columns

Index(['full_name', 'age', 'league', 'season', 'position', 'Current Club',
       'minutes_played_overall', 'minutes_played_home', 'minutes_played_away',
       'nationality', 'appearances_overall', 'appearances_home',
       'appearances_away', 'goals_overall', 'goals_home', 'goals_away',
       'assists_overall', 'assists_home', 'assists_away', 'penalty_goals',
       'penalty_misses', 'clean_sheets_overall', 'clean_sheets_home',
       'clean_sheets_away', 'conceded_overall', 'conceded_home',
       'conceded_away', 'yellow_cards_overall', 'red_cards_overall',
       'goals_involved_per_90_overall', 'assists_per_90_overall',
       'goals_per_90_overall', 'goals_per_90_home', 'goals_per_90_away',
       'min_per_goal_overall', 'conceded_per_90_overall',
       'min_per_conceded_overall', 'min_per_match', 'min_per_card_overall',
       'min_per_assist_overall', 'cards_per_90_overall',
       'rank_in_league_top_attackers', 'rank_in_league_top_midfielders',
       'rank_in_league_top_defenders', 'rank_in_club_top_scorer'],
      dtype='object')

In [4]:
df['nationality'].nunique()

32

In [5]:
df1['country'].nunique()

32

In [6]:
df1.head()

,team_name,common_name,season,country,matches_played,matches_played_home,matches_played_away,suspended_matches,wins,wins_home,...,total_goal_count,total_goal_count_home,total_goal_count_away,goals_scored_home,goals_scored_away,goals_conceded_home,goals_conceded_away,goal_difference_home,goal_difference_away,minutes_per_goal_scored
0,Switzerland National Team,Switzerland,2014,Switzerland,4,2,2,0,2,1,...,14,10,4,4,3,6,1,-2,2,51
1,Spain National Team,Spain,2014,Spain,3,2,1,0,1,0,...,11,8,3,1,3,7,0,-6,3,68
2,Portugal National Team,Portugal,2014,Portugal,3,1,2,0,1,1,...,11,3,8,2,2,1,6,1,-4,68
3,Germany National Team,Germany,2014,Germany,7,4,3,0,6,3,...,22,12,10,9,9,3,1,6,8,35
4,England National Team,England,2014,England,3,1,2,0,0,0,...,6,3,3,1,1,2,2,-1,-1,134

In [7]:
df1.columns

Index(['team_name', 'common_name', 'season', 'country', 'matches_played',
       'matches_played_home', 'matches_played_away', 'suspended_matches',
       'wins', 'wins_home', 'wins_away', 'draws', 'draws_home', 'draws_away',
       'losses', 'losses_home', 'losses_away', 'points_per_game',
       'points_per_game_home', 'points_per_game_away', 'league_position',
       'league_position_home', 'league_position_away', 'performance_rank',
       'goals_scored', 'goals_conceded', 'goal_difference', 'total_goal_count',
       'total_goal_count_home', 'total_goal_count_away', 'goals_scored_home',
       'goals_scored_away', 'goals_conceded_home', 'goals_conceded_away',
       'goal_difference_home', 'goal_difference_away',
       'minutes_per_goal_scored'],
      dtype='object')

In [8]:
player_df = df[['full_name', 'age', 'position', 'minutes_played_overall', 'nationality', 'appearances_overall',\
   'goals_overall', 'assists_overall', 'yellow_cards_overall', 'red_cards_overall', 'rank_in_league_top_attackers',\
   'rank_in_league_top_midfielders', 'rank_in_league_top_defenders', 'rank_in_club_top_scorer']]

team_df = df1[['country', 'matches_played', 'wins', 'draws', 'losses', 'points_per_game', 'performance_rank',
    'goals_scored', 'goals_conceded', 'goal_difference']]

In [9]:
player_df.columns = ['full_name', 'age', 'position', 'minutes_played', 'nationality',
                 'appearances', 'goals', 'assists', 'yellow_cards', 'red_cards',
                 'rank_in_league_top_attackers', 'rank_in_league_top_midfielders',
                 'rank_in_league_top_defenders', 'rank_in_club_top_scorer']
player_df.head()

,full_name,age,position,minutes_played,nationality,appearances,goals,assists,yellow_cards,red_cards,rank_in_league_top_attackers,rank_in_league_top_midfielders,rank_in_league_top_defenders,rank_in_club_top_scorer
0,Michael Bradley,31,Midfielder,360,USA,4,0,1,0,0,90,34,-1,7
1,Andrea Pirlo,39,Midfielder,270,Italy,3,0,0,0,0,-1,-1,-1,12
2,David Villa,36,Forward,56,Spain,1,1,0,0,0,-1,-1,-1,2
3,Kyle Beckerman,36,Midfielder,270,USA,3,0,0,1,0,-1,-1,-1,8
4,Víctor Salvador Bernárdez Blanco,36,Defender,226,Honduras,3,0,0,1,0,-1,-1,-1,5

In [10]:
team_df = team_df.replace({'Ivory Coast':"Côte d'Ivoire"})
team_df.head(17)

,country,matches_played,wins,draws,losses,points_per_game,performance_rank,goals_scored,goals_conceded,goal_difference
0,Switzerland,4,2,0,2,1.50,12,7,7,0
1,Spain,3,1,0,2,1.00,23,4,7,-3
2,Portugal,3,1,1,1,1.33,15,4,7,-3
3,Germany,7,6,1,0,2.71,1,18,4,14
4,England,3,0,1,2,0.33,27,2,4,-2
5,Greece,4,1,2,1,1.25,13,3,5,-2
6,Italy,3,1,0,2,1.00,20,2,3,-1
7,Belgium,5,4,0,1,2.40,5,6,3,3
8,Netherlands,7,5,2,0,2.43,2,15,4,11
9,France,5,3,1,1,2.00,7,10,3,7
10,Croatia,3,1,0,2,1.00,21,6,6,0
11,Bosnia and Herzegovina,3,1,0,2,1.00,22,4,4,0
12,Japan,3,0,1,2,0.33,29,2,6,-4
13,Australia,3,0,0,3,0.00,30,3,9,-6
14,Iran,3,0,1,2,0.33,28,1,4,-3
15,South Korea,3,0,1,2,0.33,26,3,6,-3
16,Côte d'Ivoire,3,1,0,2,1.00,19,4,5,-1

In [11]:
engine = create_engine(f"mysql://root:{password}@localhost:3306/soccer")
conn = engine.connect()

C:\Anaconda\envs\PythonData\lib\site-packages\pymysql\cursors.py:170: Warning: (3719, "'utf8' is currently an alias for the character set UTF8MB3, which will be replaced by UTF8MB4 in a future release. Please consider using UTF8MB4 in order to be unambiguous.")
  result = self._query(query)

In [12]:
engine.table_names()

['players', 'team']

In [13]:
team_df.to_sql(name = 'team', con=engine, if_exists = 'append', index = False)

In [14]:
pd.read_sql_query('select * FROM team', con=engine).head()

,country,matches_played,wins,draws,losses,points_per_game,performance_rank,goals_scored,goals_conceded,goal_difference
0,Algeria,4,1,1,2,1,16,7,7,0
1,Argentina,7,5,1,1,2,3,8,4,4
2,Australia,3,0,0,3,0,30,3,9,-6
3,Belgium,5,4,0,1,2,5,6,3,3
4,Bosnia and Herzegovina,3,1,0,2,1,22,4,4,0

In [15]:
player_df.to_sql(name = 'players', con = engine, if_exists = 'append', index = False)

In [16]:
pd.read_sql_query('select * FROM players', con=engine).head()

,players_id,full_name,age,position,minutes_played,nationality,appearances,goals,assists,yellow_cards,red_cards,rank_in_league_top_attackers,rank_in_league_top_midfielders,rank_in_league_top_defenders,rank_in_club_top_scorer
0,1,Michael Bradley,31,Midfielder,360,USA,4,0,1,0,0,90,34,-1,7
1,2,Andrea Pirlo,39,Midfielder,270,Italy,3,0,0,0,0,-1,-1,-1,12
2,3,David Villa,36,Forward,56,Spain,1,1,0,0,0,-1,-1,-1,2
3,4,Kyle Beckerman,36,Midfielder,270,USA,3,0,0,1,0,-1,-1,-1,8
4,5,Víctor Salvador Bernárdez Blanco,36,Defender,226,Honduras,3,0,0,1,0,-1,-1,-1,5

In [21]:
pd.read_sql_query('SELECT * FROM Players p JOIN Team t ON t.country = p.nationality', con=engine).head()

,players_id,full_name,age,position,minutes_played,nationality,appearances,goals,assists,yellow_cards,...,country,matches_played,wins,draws,losses,points_per_game,performance_rank,goals_scored,goals_conceded,goal_difference
0,57,Nabil Bentaleb,23,Midfielder,270,Algeria,3,0,0,1,...,Algeria,4,1,1,2,1,16,7,7,0
1,100,Hillel El Arbi Soudani,30,Forward,166,Algeria,3,0,0,0,...,Algeria,4,1,1,2,1,16,7,7,0
2,143,Faouzi Ghoulam,27,Defender,180,Algeria,2,0,0,0,...,Algeria,4,1,1,2,1,16,7,7,0
3,193,Riyad Mahrez,27,Midfielder,71,Algeria,1,0,0,0,...,Algeria,4,1,1,2,1,16,7,7,0
4,194,Islam Slimani,30,Forward,294,Algeria,4,2,1,0,...,Algeria,4,1,1,2,1,16,7,7,0

In [19]:
player_df['nationality'].value_counts()

Belgium                   20
Spain                     20
England                   20
Brazil                    19
Colombia                  19
Portugal                  18
Argentina                 18
Algeria                   18
Netherlands               17
France                    17
Italy                     17
Bosnia and Herzegovina    17
Uruguay                   16
Ghana                     16
Cameroon                  16
Greece                    16
Germany                   16
Australia                 15
Honduras                  14
Japan                     14
USA                       14
Switzerland               14
Croatia                   14
Russia                    14
Nigeria                   14
Costa Rica                14
Côte d'Ivoire             14
South Korea               13
Chile                     13
Ecuador                   13
Iran                      12
Mexico                    12
Name: nationality, dtype: int64

In [20]:
team_df['country'].value_counts()

Japan                     1
Switzerland               1
Germany                   1
Greece                    1
Bosnia and Herzegovina    1
Australia                 1
Cameroon                  1
Uruguay                   1
Croatia                   1
Argentina                 1
Colombia                  1
England                   1
Belgium                   1
Spain                     1
USA                       1
Côte d'Ivoire             1
Portugal                  1
Ecuador                   1
France                    1
Chile                     1
Iran                      1
Netherlands               1
Ghana                     1
Algeria                   1
South Korea               1
Russia                    1
Nigeria                   1
Brazil                    1
Italy                     1
Costa Rica                1
Mexico                    1
Honduras                  1
Name: country, dtype: int64